<?xml version="1.0" encoding="utf-8"?>
<settings version='1'>
<universes z='6' a='1' B='5'  p='6'>
<un u='1' s='0' l='510' t='0'/><un u='2' s='510' l='510' t='0'/><un u='3' s='1020' l='510' t='0'/><un u='201' s='1530' l='510' t='0'/><un u='202' s='2040' l='510' t='0'/><un u='203' s='2550' l='510' t='0'/>
</universes>
<strings c='6' p='6' m='0' a='1'>
<vs y='' p='0' u='1' us='0' s='0' c='114' g='1' t='1' d='0' o='0' n='0' z='0' b='0' bl='0'/><vs y='' p='1' u='2' us='0' s='510' c='81' g='1' t='1' d='0' o='0' n='0' z='0' b='0' bl='0'/><vs y='' p='1' u='3' us='0' s='1020' c='32' g='1' t='1' d='0' o='0' n='0' z='0' b='0' bl='0'/><vs y='' p='2' u='201' us='0' s='1530' c='114' g='1' t='1' d='0' o='0' n='0' z='0' b='0' bl='0'/><vs y='' p='3' u='202' us='0' s='2040' c='81' g='1' t='1' d='0' o='0' n='0' z='0' b='0' bl='0'/><vs y='' p='3' u='203' us='0' s='2550' c='32' g='1' t='1' d='0' o='0' n='0' z='0' b='0' bl='0'/>
</strings>
<serialoutputs>
<so t='0' b='4' sb='1' u='1' us='0' s='0' m='0' g='0' i='0'/>
</serialoutputs>
</settings>
